<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".ThreeBeansApplication"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/Theme.ThreeBeans"
        android:supportsRtl="true"
        android:isGame="true"
        android:appCategory="game">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".EmulationActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize|keyboardHidden|navigation|uiMode"
            android:theme="@style/Theme.ThreeBeans.Fullscreen" />

        <activity
            android:name=".SystemFilesActivity"
            android:exported="false" />

        <activity
            android:name=".SettingsActivity"
            android:exported="false" />
    </application>
</manifest>
